<nav class="navbar navbar-expand-lg navbar-light gradiente">
  <a class="navbar-brand text-white " href="#">
    <img src="https://image.flaticon.com/icons/png/512/14/14720.png" width="50" height="50" alt="">
    MyMarket
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link text-white" routerLink="home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link text-white" routerLink="search">tiendas</a>
      </li>
    </ul>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success rounded" type="submit">Search</button>
    </form>
  </div>
</nav>
